
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shered style */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-orange{
    color: #FD6E0A;
}

.color-primary{
    color: #181818;
}

.color-secondary{
    
}

.tershiary-color{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
    font-size: 1.25rem;
}

.section-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 38px 23px, bottom right;
}

.nav-bar{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
    font-weight: 900;
}

.menue{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

nav .menue a{
    text-decoration: none;
    color: #474747;
    font-size: 1.25rem;
    font-weight: 400;
}

.banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0 230px; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-content{
    max-width: 585px;
}

.banner .banner-content h3{
    font-size: 2rem;
    font-weight: 600;
    color: #474747;
}

.banner .banner-content h2{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 5px;
}

.banner .banner-content p{
    font-family: 1.125rem;
    font-weight: 400;
    margin-top: 20px;
}

.btn-container{
    margin-top: 30px;
    display: flex;
    justify-content: start;
    gap: 30px;
}

.banner-image img{
    max-width: 585px;
    display: block;
    border-radius: 20px;
}

/* about section */
.about{
    width: 70%;
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 130px auto 0;
    padding: 130px 155px;
    border-radius: 20px;
}

.about-info{
    max-width: 827px;
    margin: 30px auto 0;
    font-size: 1.125rem;
    text-align: center;
    
}

.cards{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    text-align: center;
}

.cards .card p{
    font-size: 1.25rem;
}

.cards .card h4{
    font-size: 1.25rem;
    font-weight: 700;
    color: #474747;
}